{
  "presets": ["@babel/preset-env", "@babel/preset-flow"],
  "plugins": [
    ["transform-react-jsx", { "pragma": "h" }],
    "@babel/plugin-syntax-flow",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "development": {
      "plugins": ["flow-react-proptypes"]
    }
  }
}
